.product-page {
    background-color: #F8F8F8;
    padding: 10px 20px;
}

.titel {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.titel_inner {
    height: 100%;
}

.titel_inner-text {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    padding: 0 auto;
    margin: 0 20px;
}

.register_inner {
    width: 137px;
    height: 100%;
    background-color: #FFA929;
    border-radius: 5px;
}

.register_button {
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    color: black;
}

.main {
    margin-top: 30px;
    display: flex;
}

.search {
    flex-direction: column;
    margin: 0 auto;
    width: 20%;
    margin: 0 20px;
}

.input-content {
    flex-direction: column;
}

.input_text {
    border-radius: 25px;
    border: 1px #E0DFDE;
    color: #4B4B4B;
    width: 100%;
    height: 50px;
    box-shadow: 1px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.input_button {
    width: 100%;
    height: 44px;
    background-color: #F5C800;
    border-radius: 5px;
    box-shadow: 1px -1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #4B4B4B;
    cursor: pointer;
}

.sort {
    margin-top: 30px;
    text-align: center;
}

.sort-title {
    font-size: 20px;
    font-weight: 600;
}

.sort-input {
    border-radius: 10px;
    color: #4B4B4B;
    width: 100%;
    height: 50px;
}

.sort-button {
    text-align: center;
    margin: 20px auto;
    width: 60%;
    height: 44px;
    background-color: #F5C800;
    border-radius: 5px;
    box-shadow: 1px -1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #4B4B4B;
    cursor: pointer;
}

.product {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.product_inner {
    margin: 5px;
    width: 320px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px -1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
}

.product-img {
    width: 100%;
}

.product-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.product-content_name {
    font-size: 24px;
    font-weight: 400;
    color: #4B4B4B;
}

.product-content_price {
    font-size: 24px;
    font-weight: 400;
    color: #4B4B4B;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}